<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee
                             http://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>servlet.MainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadImageServlet</servlet-name>
        <servlet-class>servlet.UploadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImageServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>servlet.NewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CollectionsServlet</servlet-name>
        <servlet-class>servlet.CollectionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollectionsServlet</servlet-name>
        <url-pattern>/collections</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GamesServlet</servlet-name>
        <servlet-class>servlet.GamesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GamesServlet</servlet-name>
        <url-pattern>/games</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReviewsServlet</servlet-name>
        <servlet-class>servlet.ReviewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReviewsServlet</servlet-name>
        <url-pattern>/reviews</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlet.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>servlet.ContentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>

</web-app>
